<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Method || Jixwallet</title>
    <!-- bootstrap -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <!-- External Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
    <!-- DataTables SearchBuilder -->
    <script src="https://cdn.datatables.net/searchbuilder/1.7.0/js/dataTables.searchBuilder.js"></script>
    <script src="https://cdn.datatables.net/searchbuilder/1.7.0/js/searchBuilder.dataTables.js"></script>
    <!-- DataTables DateTime -->
    <script src="https://cdn.datatables.net/datetime/1.5.2/js/dataTables.dateTime.min.js"></script>

    <!-- Bootstrap bundled JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
        new DataTable('#example', {
            layout: {
                top1: 'searchBuilder'
            }
        });
    </script>
    <!-- DataTables CSS -->
    <link href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" rel="stylesheet">
    <!-- DataTables SearchBuilder CSS -->
    <link href="https://cdn.datatables.net/searchbuilder/1.7.0/css/searchBuilder.dataTables.css" rel="stylesheet">
    <!-- DataTables DateTime CSS -->
    <link href="https://cdn.datatables.net/datetime/1.5.2/css/dataTables.dateTime.min.css" rel="stylesheet">

    <!-- Custom Styles -->
    <link rel="stylesheet" th:href="@{/css/client/style.css}">

    <style>
        .profile-header {
            text-align: center;
            padding: 20px 0;
        }

        .profile-header img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        .profile-header h1 {
            font-size: 1.5rem;
            margin-bottom: 5px;
        }

        .profile-header p {
            color: #6c757d;
        }

        .card {
            border: none;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        .card-header {
            background-color: rgb(237, 243, 247);
            font-weight: bold;
        }

        .card-body {
            background-color: white;
        }

        .edit-button {
            text-decoration: none;
            color: #007bff;
            font-size: 0.9rem;
            float: right;
        }

        .edit-button:hover {
            color: #0056b3;
        }

        .qr-preview {
            max-width: 100px;
            margin-top: 10px;
        }

        .d-none {
            display: none !important;
        }

        /* QR Code display css  */
        .screenshot-container {
            position: relative;
            display: inline-block;
        }

        .screenshot-container img {
            max-width: 150px;
            max-height: 200px;
            transition: transform 0.3s ease;
        }

        .screenshot-container:hover img {
            transform: scale(1.5);
            z-index: 1;
        }
    </style>
</head>

<body>
    <div class='dashboard'>
        <div class="dashboard-nav">
            <header><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
                <!-- <a href="/profile" class="brand-logo"><i class="fas fa-user"></i> <span>username</span></a> -->
                <!-- <a href="/"><img src="logo2.png" alt="Logo" class="logo"></a> -->
            </header>
            <nav class="dashboard-nav-list">
                <a href="/dashboard" class="dashboard-nav-item "><i class="fas fa-tachometer-alt"></i> Dashboard </a>
                <a href="/profile" class="dashboard-nav-item "><i class="fas fa-user"></i> Profile </a>
                <a href="/credittransaction" class="dashboard-nav-item "><i class="fas fa-file-upload rotate-180"></i>
                    Credit
                    History </a>
                <a href="debittransaction" class="dashboard-nav-item"><i class="fas fa-file-download"></i> Debit History
                </a>
                <a href="refund" class="dashboard-nav-item"><i class="fa-solid fa-list fas"></i> Refund History </a>
                <!-- <div class='dashboard-nav-dropdown'>
                    <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
                            class="fas fa-money-check-alt"></i> Payment Method </a>
                    <div class='dashboard-nav-dropdown-menu'>
                        <a href="#" class="dashboard-nav-dropdown-item">Bank Details</a>
                        <a href="#" class="dashboard-nav-dropdown-item">UPI Details</a>
                    </div>
                </div> -->
                <a href="/method" class="dashboard-nav-item active"><i class="fas fa-money-check-alt"></i> Payment
                    Method </a>
                <a href="/security" class="dashboard-nav-item"><i class="fas fa-solid fa-fingerprint"></i> Security </a>

                 <a href="/p2p" class="dashboard-nav-item"><i class="fas fa-cogs"></i> P2P </a>
            <a href="/help-center" class="dashboard-nav-item"><i class="fas fa-solid fa-headset"></i> Help Center </a>
                <div class="nav-item-divider"></div>
                <a href="/signout" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Logout </a>
            </nav>
        </div>
        <div class='dashboard-app'>
            <header class="dashboard-toolbar">
                <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
                <a href="/profile" class="brand-logo" style="margin-right: 15px; display: flex; align-items: center;">
                    <i class="fas fa-user" style="font-size: 1.5em; margin-right: 10px;"></i>
                    <div style="display: flex; flex-direction: column;">
                        <span th:text="${user.username}" style="font-weight: bold;"></span>
                        <span th:text="${#dates.format(user.lastLogin, 'yyyy-MM-dd HH:mm:ss')}"
                            style="font-size: 0.8em; color: gray;"></span>
                    </div>
                </a>

            </header>
            <div class='dashboard-content'>
                <div class="container text-center mt-4">
                    <!-- Display flash message if available -->
                    <div th:if="${message}" class="alert alert-success" role="alert">
                        <strong th:text="${message}"></strong>

                    </div>
                    <div th:if="${errorMsg}" class="alert alert-danger" role="alert">
                        <strong th:text="${errorMsg}"></strong>
                    </div>

                </div>



                <div class="container mt-3">
                    <div class="row">
                        <!-- Bank Account Details Card -->
                        <div class="col-12 col-md-6">
                            <div class="card shadow">
                                <div class="card-header">
                                    <h5>Bank Account Details</h5>
                                </div>
                                <div class="card-body p-3">
                                    <form id="bankForm" action="/saveBankDetails" method="post">
                                        <p>Bank Name:
                                            <span th:if="${bankDetails != null}" th:text="${bankDetails.bankName}"
                                                id="bankNameDisplay"></span>
                                            <input type="text" id="bankNameInput" name="bankName" class="form-control"
                                                th:if="${bankDetails == null}" placeholder="Enter bank name">
                                            <input type="text" id="bankNameInput" name="bankName"
                                                class="form-control d-none" th:if="${bankDetails != null}"
                                                th:value="${bankDetails.bankName}">
                                        </p>
                                        <p>Holder Name:
                                            <span th:if="${bankDetails != null}" th:text="${bankDetails.holderName}"
                                                id="holderNameDisplay"></span>
                                            <input type="text" id="holderNameInput" name="holderName"
                                                class="form-control" th:if="${bankDetails == null}"
                                                placeholder="Enter holder name">
                                            <input type="text" id="holderNameInput" name="holderName"
                                                class="form-control d-none" th:if="${bankDetails != null}"
                                                th:value="${bankDetails.holderName}">
                                        </p>
                                        <p>Account No.:
                                            <span th:if="${bankDetails != null}" th:text="${bankDetails.accountNo}"
                                                id="accountNoDisplay"></span>
                                            <input type="text" id="accountNoInput" name="accountNo" class="form-control"
                                                th:if="${bankDetails == null}" placeholder="Enter account number">
                                            <input type="text" id="accountNoInput" name="accountNo"
                                                class="form-control d-none" th:if="${bankDetails != null}"
                                                th:value="${bankDetails.accountNo}">
                                        </p>
                                        <p>IFSC:
                                            <span th:if="${bankDetails != null}" th:text="${bankDetails.ifsc}"
                                                id="ifscDisplay"></span>
                                            <input type="text" id="ifscInput" name="ifsc" class="form-control"
                                                th:if="${bankDetails == null}" placeholder="Enter IFSC code">
                                            <input type="text" id="ifscInput" name="ifsc" class="form-control d-none"
                                                th:if="${bankDetails != null}" th:value="${bankDetails.ifsc}">
                                        </p>
                                        <p>Branch:
                                            <span th:if="${bankDetails != null}" th:text="${bankDetails.branch}"
                                                id="branchDisplay"></span>
                                            <input type="text" id="branchInput" name="branch" class="form-control"
                                                th:if="${bankDetails == null}" placeholder="Enter branch name">
                                            <input type="text" id="branchInput" name="branch"
                                                class="form-control d-none" th:if="${bankDetails != null}"
                                                th:value="${bankDetails.branch}">
                                        </p>
                                        <p>Account Type:
                                            <span th:if="${bankDetails != null}" th:text="${bankDetails.acType}"
                                                id="accountTypeDisplay"></span>
                                            <select name="acType" id="accountTypeInput" class="form-control"
                                                th:if="${bankDetails == null}">
                                                <option disabled selected>Select Account Type</option>
                                                <option value="Saving">Saving</option>
                                                <option value="Current">Current</option>
                                            </select>
                                            <select name="acType" id="accountTypeInput" class="form-control d-none"
                                                th:if="${bankDetails != null}">
                                                <option value="Saving" th:selected="${bankDetails.acType == 'Saving'}">
                                                    Saving</option>
                                                <option value="Current"
                                                    th:selected="${bankDetails.acType == 'Current'}">Current</option>
                                            </select>
                                        </p>
                                        <a href="#" id="editBankButton" th:if="${bankDetails != null}"
                                            class="edit-button"><i class="fas fa-edit"></i>
                                            Edit</a>
                                        <button type="submit" id="saveBankButton" class="btn btn-primary"
                                            th:if="${bankDetails == null}">Save</button>
                                        <button type="submit" id="saveBankButton" class="btn btn-primary d-none"
                                            th:if="${bankDetails != null}">Save</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- UPI Details Card -->
                        <div class="col-12 col-md-6">
                            <div class="card shadow ">
                                <div class="card-header">
                                    <h5>UPI Details</h5>
                                </div>
                                <div class="card-body p-3">
                                    <form id="upiForm" action="/saveUpiDetails" method="post"
                                        enctype="multipart/form-data">
                                        <p>Holder Name:
                                            <span th:if="${upiDetails != null}" th:text="${upiDetails.holderName}"
                                                id="holderNameDisplay"></span>
                                            <input type="text" id="holderNameInput" name="holderName"
                                                class="form-control" th:if="${upiDetails == null}"
                                                placeholder="Enter holder name" required>
                                            <input type="text" id="holderNameInput" name="holderName"
                                                class="form-control d-none" th:if="${upiDetails != null}"
                                                th:value="${upiDetails.holderName}" required>
                                        </p>
                                        <p>UPI ID:
                                            <span th:if="${upiDetails != null}" th:text="${upiDetails.upiID}"
                                                id="upiIdDisplay"></span>
                                            <input type="text" id="upiIdInput" name="upiID" class="form-control"
                                                th:if="${upiDetails == null}" placeholder="Enter UPI ID" required>
                                            <input type="text" id="upiIdInput" name="upiID" class="form-control d-none"
                                                th:if="${upiDetails != null}" th:value="${upiDetails.upiID}" required>
                                        </p>
                                        <p>QR Code:
                                            <input type="file" id="qrInput" name="qrCodeFile" class="form-control "
                                                th:if="${upiDetails == null}" required>
                                            <input type="file" id="qrInput" name="qrCodeFile"
                                                class="form-control d-none" th:if="${upiDetails != null}" required>
                                            <!-- <img th:if="${upiDetails != null}" th:src="@{upiDetails.qrCode}" alt="QR Code"> -->
                                            <!-- <a th:if="${upiDetails != null}" th:href="@{${upiDetails.qrCode}}" target="_blank"
                                                class="screenshot-container">
                                                <img th:src="@{${upiDetails.qrCode}}" alt="QR Code" id="qrCodeDisplay">
                                            </a> -->
                                            <span th:if="${upiDetails != null}"  id="qrUpload">Uploaded</span>
                                        </p>

                                        <a href="#" id="editUpiButton" th:if="${upiDetails != null}" class="edit-button"
                                            onclick="toggleEditMode('upiForm')">
                                            <i class="fas fa-edit"></i> Edit
                                        </a>
                                        <button type="submit" id="saveUpiButton" class="btn btn-primary"
                                            th:if="${upiDetails == null}">Save</button>
                                        <button type="submit" id="saveUpiButton" class="btn btn-primary d-none"
                                            th:if="${upiDetails != null}">Save</button>
                                    </form>

                                    <script>
                                        function toggleEditMode(formId) {
                                            var form = document.getElementById(formId);
                                            var displayElements = form.querySelectorAll('[id$=Display]');
                                            var inputElements = form.querySelectorAll('[id$=Input]');
                                            var saveButton = form.querySelector('#saveUpiButton');
                                            var qrUploadElement = document.getElementById("qrUpload");

                                            // Check if qrUploadElement inner text is empty or not
                                            if (qrUploadElement.innerText.trim() === "") {
                                                qrUploadElement.innerText = "Uploaded"; // Set inner text to "Uploaded" if empty
                                            } else {
                                                qrUploadElement.innerText = ""; // Clear inner text if already "Uploaded"
                                            }
                                            displayElements.forEach(function (element) {
                                                element.classList.toggle('d-none');
                                            });

                                            inputElements.forEach(function (element) {
                                                element.classList.toggle('d-none');
                                            });

                                            saveButton.classList.toggle('d-none');
                                        }
                                    </script>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>





    <script>
        // for hamburger 
        const mobileScreen = window.matchMedia("(max-width: 990px )");
        $(document).ready(function () {
            $(".dashboard-nav-dropdown-toggle").click(function () {
                $(this).closest(".dashboard-nav-dropdown")
                    .toggleClass("show")
                    .find(".dashboard-nav-dropdown")
                    .removeClass("show");
                $(this).parent()
                    .siblings()
                    .removeClass("show");
            });
            $(".menu-toggle").click(function () {
                if (mobileScreen.matches) {
                    $(".dashboard-nav").toggleClass("mobile-show");
                } else {
                    $(".dashboard").toggleClass("dashboard-compact");
                }
            });
        });
    </script>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const editButton = document.getElementById('editBankButton');
            const saveButton = document.getElementById('saveBankButton');
            const displayElements = document.querySelectorAll('#bankForm span');
            const inputElements = document.querySelectorAll('#bankForm input, #bankForm select');

            if (editButton) {
                editButton.addEventListener('click', function (e) {
                    e.preventDefault();
                    displayElements.forEach(el => el.classList.toggle('d-none'));
                    inputElements.forEach(el => el.classList.toggle('d-none'));
                    saveButton.classList.toggle('d-none');
                });
            }
        });

    </script>
</body>

</html>