<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile || Jixwallet</title>
    <!-- bootstrap -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <!-- External Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
    <!-- DataTables SearchBuilder -->
    <script src="https://cdn.datatables.net/searchbuilder/1.7.0/js/dataTables.searchBuilder.js"></script>
    <script src="https://cdn.datatables.net/searchbuilder/1.7.0/js/searchBuilder.dataTables.js"></script>
    <!-- DataTables DateTime -->
    <script src="https://cdn.datatables.net/datetime/1.5.2/js/dataTables.dateTime.min.js"></script>

    <!-- Bootstrap bundled JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
        new DataTable('#example', {
            layout: {
                top1: 'searchBuilder'
            }
        });
    </script>
    <!-- DataTables CSS -->
    <link href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" rel="stylesheet">
    <!-- DataTables SearchBuilder CSS -->
    <link href="https://cdn.datatables.net/searchbuilder/1.7.0/css/searchBuilder.dataTables.css" rel="stylesheet">
    <!-- DataTables DateTime CSS -->
    <link href="https://cdn.datatables.net/datetime/1.5.2/css/dataTables.dateTime.min.css" rel="stylesheet">

    <!-- Custom Styles -->
    <link rel="stylesheet" th:href="@{/css/client/style.css}">


</head>

<body>
    <div class='dashboard'>
        <div class="dashboard-nav">
            <header><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
                <!-- <a href="/profile" class="brand-logo"><i class="fas fa-user"></i> <span>username</span></a> -->
                <!-- <a href="/"><img src="logo2.png" alt="Logo" class="logo"></a> -->
            </header>
            <nav class="dashboard-nav-list">
                <a href="/dashboard" class="dashboard-nav-item "><i class="fas fa-tachometer-alt"></i> Dashboard </a>
                <a href="/profile" class="dashboard-nav-item active"><i class="fas fa-user"></i> Profile </a>
                <a href="/credittransaction" class="dashboard-nav-item "><i class="fas fa-file-upload rotate-180"></i>
                    Credit
                    History </a>
                <a href="debittransaction" class="dashboard-nav-item"><i class="fas fa-file-download"></i> Debit History
                </a>
                <a href="refund" class="dashboard-nav-item"><i class="fa-solid fa-list fas"></i> Refund History </a>
                <!-- <div class='dashboard-nav-dropdown'>
                                <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
                                        class="fas fa-money-check-alt"></i> Payment Method </a>
                                <div class='dashboard-nav-dropdown-menu'>
                                    <a href="#" class="dashboard-nav-dropdown-item">Bank Details</a>
                                    <a href="#" class="dashboard-nav-dropdown-item">UPI Details</a>
                                </div>
                            </div> -->
                <a href="/method" class="dashboard-nav-item"><i class="fas fa-money-check-alt"></i> Payment Method </a>
                <a href="/security" class="dashboard-nav-item"><i class="fas fa-solid fa-fingerprint"></i> Security </a>

                <a href="/p2p" class="dashboard-nav-item"><i class="fas fa-cogs"></i> P2P </a>
                <div class="nav-item-divider"></div>
                <a href="/signout" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Logout </a>
            </nav>
        </div>
        <div class='dashboard-app'>
            <header class="dashboard-toolbar">
                <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
                <a href="/profile" class="brand-logo" style="margin-right: 15px; display: flex; align-items: center;">
                    <i class="fas fa-user" style="font-size: 1.5em; margin-right: 10px;"></i>
                    <div style="display: flex; flex-direction: column;">
                        <span th:text="${user.username}" style="font-weight: bold;"></span>
                        <span th:text="${#dates.format(user.lastLogin, 'yyyy-MM-dd HH:mm:ss')}"
                            style="font-size: 0.8em; color: gray;"></span>
                    </div>
                </a>

            </header>
            <div class='dashboard-content'>


                <div class="container text-center mt-4">
                    <!-- Display flash message if available -->
                    <div th:if="${message}" class="alert alert-success" role="alert">
                        <strong th:text="${message}"></strong>

                    </div>
                    <div th:if="${errorMsg}" class="alert alert-danger" role="alert">
                        <strong th:text="${errorMsg}"></strong>
                    </div>

                </div>



                <div class="container mt-3">


                    <div class="card shadow p-3">

                        <div class="container">
                            <div class="profile-header">
                                <!-- <img src="https://via.placeholder.com/100" alt="User Image"> -->
                                <i class="fas fa-user fa-5x pb-3"></i>
                                <h1>
                                    <strong th:if="${user.name != null}" th:text="${user.name}"></strong>
                                    <strong th:if="${user.name == null}" th:text="${user.username}">\</strong>
                                </h1>
                                <div th:if="${securityCode != null}">
                                    <p><b>Security Code: <strong class="text-danger"
                                                th:text="${securityCode}"></strong></b></p>
                                </div>
                                <div th:if="${securityCode == null}">
                                    <p><b>Security Code: </b> <span id="security-code">******</span>
                                        <a href="#" id="viewCodeButton"><i class="fas fa-solid fa-eye"> View
                                                Code</i></a>
                                    </p>
                                </div>
                                <div class="modal" id="otpModal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="d-flex justify-content-center align-items-center">
                                               
                                                <section class="container-fluid bg-body-tertiary d-block">
                                                    <div class="row justify-content-center">
                                                        <div class="col-12 col-md-6 col-lg-4" style="min-width: 400px;">
                                                            <!-- <div class="card bg-white mb-5 mt-5 border-0"
                                                                style="box-shadow: 0 12px 15px rgba(0, 0, 0, 0.02);"> -->
                                                            <div class="card-body p-5 text-center">

                                                                <h5 class="mb-2">User verification</h5><span
                                                                    class="mobile-text mb-3">Enter the code we just send
                                                                    on your
                                                                    registred email : <b class="text-danger"
                                                                        th:text="${#strings.substring(user.email, 0, 4) + '...' + #strings.substring(user.email, #strings.length(user.email) - 9)}"></b>
                                                                </span>
                                                                <br><br>
                                                                <form method="post" th:action="@{/checkOtp}">
                                                                    <div class="otp-field mb-4">
                                                                        <input type="number" id="digit1" maxlength="1"
                                                                            required name="d1">
                                                                        <input type="number" id="digit2" maxlength="1"
                                                                            disabled name="d2">
                                                                        <input type="number" id="digit3" maxlength="1"
                                                                            disabled name="d3">
                                                                        <input type="number" id="digit4" maxlength="1"
                                                                            disabled name="d4">
                                                                    </div>

                                                                    <button type="submit"
                                                                        class="btn btn-primary mb-3">Verify Now</button>
                                                                </form>

                                                                <div class="text-center">
                                                                    <span class="d-block mobile-text">Don't receive the
                                                                        code?</span>
                                                                    <a id="resendOtp"
                                                                        class="font-weight-bold text-danger cursor disabled"
                                                                        href="#">Resend</a>
                                                                    <span id="timer"
                                                                        class="font-weight-bold text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <!-- </div> -->
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                </p>
                                <p>Manage your personal information here.</p>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    Profile information
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>Basic information</h5>
                                            <p>Username: <span th:text="${user.username}"></span></p>
                                            <p>Primary email: <span th:text="${user.email}"></span> </p>
                                            <p>Account Created: <span
                                                    th:text="${#dates.format(user.createdAt, 'yyyy-MM-dd HH:mm:ss')}"
                                                    style="font-size: 1em; color: gray;"></span></p>
                                            <!-- <p>Address: <a href="#" class="edit-button"><i class="fas fa-edit"></i>
                                                    Change password</a></p> -->
                                        </div>
                                        <div class="col-md-6">
                                            <h5>Additional info.</h5>
                                            <form id="userForm" action="/saveProfile" method="post">
                                                <p>Full name: <span id="nameDisplay" th:text="${user.name}"></span>
                                                    <input type="text" id="nameInput" name="name"
                                                        class="form-control d-none" th:value="${user.name}">
                                                </p>
                                                <p>Address: <span id="addressDisplay" th:text="${user.address}"></span>
                                                    <input type="text" id="addressInput" name="address"
                                                        class="form-control d-none" th:value="${user.address}">
                                                </p>
                                                <a href="#" id="editButton" class="edit-button"><i
                                                        class="fas fa-edit"></i> Edit</a>
                                                <button type="submit" id="saveButton"
                                                    class="btn btn-primary d-none">Save</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    Localization
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>Language and currency</h5>
                                            <p>Language: English – INDIA</p>
                                            <p>Currency: INR – INDIA</p>
                                            <!-- <a href="#" class="edit-button"><i class="fas fa-edit"></i> Edit</a> -->
                                        </div>
                                        <div class="col-md-6">
                                            <h5>Timezone and datetime format</h5>
                                            <p>Timezone: Asia/Kolkata (India Standard Time)</p>
                                            <p>Date & Time Format: yyyy-MM-dd HH:mm:ss</p>
                                            <!-- <a href="#" class="edit-button"><i class="fas fa-edit"></i> Edit</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <script>
        // for hamburger 
        const mobileScreen = window.matchMedia("(max-width: 990px )");
        $(document).ready(function () {
            $(".dashboard-nav-dropdown-toggle").click(function () {
                $(this).closest(".dashboard-nav-dropdown")
                    .toggleClass("show")
                    .find(".dashboard-nav-dropdown")
                    .removeClass("show");
                $(this).parent()
                    .siblings()
                    .removeClass("show");
            });
            $(".menu-toggle").click(function () {
                if (mobileScreen.matches) {
                    $(".dashboard-nav").toggleClass("mobile-show");
                } else {
                    $(".dashboard").toggleClass("dashboard-compact");
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#editButton').on('click', function (event) {
                event.preventDefault();
                $('#nameDisplay, #addressDisplay').addClass('d-none');
                $('#nameInput, #addressInput, #saveButton').removeClass('d-none');
                $(this).addClass('d-none');
            });
        });
    </script>
    <!-- Bootstrap budled JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <!-- Custom JavaScript -->
    <script>
        $(document).ready(function () {
            $('#viewCodeButton').click(function (event) {
                // console.log(" otp send butotn ");
                event.preventDefault();
                // Send AJAX request to /showCode endpoint
                $.ajax({
                    url: '/showCode',
                    method: 'GET',
                });
                $('#otpModal').modal('show');
            });
        });

    </script>

    <script>$(document).ready(function () {
            var resendOtpButton = $('#resendOtp');
            var timerDisplay = $('#timer');
            var timer = 20;
            var countdown;

            function startTimer() {
                resendOtpButton.prop('disabled', true).addClass('disabled');
                timerDisplay.text(`(${timer}s)`);

                countdown = setInterval(function () {
                    timer--;
                    timerDisplay.text(`(${timer}s)`);
                    if (timer <= 0) {
                        clearInterval(countdown);
                        resendOtpButton.prop('disabled', false).removeClass('disabled').text('Resend');
                        timerDisplay.text('');
                    }
                }, 1000);
            }

            // Initialize the timer when the form pops up
            startTimer();

            resendOtpButton.click(function (event) {
                event.preventDefault();
                if (!resendOtpButton.prop('disabled')) {
                    // console.log("Clicked on the resend button to tyhe method is working");
                    $.ajax({
                        url: '/showCode',
                        method: 'GET',
                    });
                    resendOtpButton.prop('disabled', true).addClass('disabled').text('Resend');
                    timer = 30;
                    startTimer();
                }
            });
        });
    </script>

    <script>
        const inputs = document.querySelectorAll(".otp-field > input");
        const button = document.querySelector(".btn");

        window.addEventListener("load", () => inputs[0].focus());
        button.setAttribute("disabled", "disabled");

        inputs[0].addEventListener("paste", function (event) {
            event.preventDefault();

            const pastedValue = (event.clipboardData || window.clipboardData).getData(
                "text"
            );
            const otpLength = inputs.length;

            for (let i = 0; i < otpLength; i++) {
                if (i < pastedValue.length) {
                    inputs[i].value = pastedValue[i];
                    inputs[i].removeAttribute("disabled");
                    inputs[i].focus;
                } else {
                    inputs[i].value = ""; // Clear any remaining inputs
                    inputs[i].focus;
                }
            }
        });

        inputs.forEach((input, index1) => {
            input.addEventListener("keyup", (e) => {
                const currentInput = input;
                const nextInput = input.nextElementSibling;
                const prevInput = input.previousElementSibling;

                if (currentInput.value.length > 1) {
                    currentInput.value = "";
                    return;
                }

                if (
                    nextInput &&
                    nextInput.hasAttribute("disabled") &&
                    currentInput.value !== ""
                ) {
                    nextInput.removeAttribute("disabled");
                    nextInput.focus();
                }

                if (e.key === "Backspace") {
                    inputs.forEach((input, index2) => {
                        if (index1 <= index2 && prevInput) {
                            input.setAttribute("disabled", true);
                            input.value = "";
                            prevInput.focus();
                        }
                    });
                }

                button.classList.remove("active");
                button.setAttribute("disabled", "disabled");

                const inputsNo = inputs.length;
                if (!inputs[inputsNo - 1].disabled && inputs[inputsNo - 1].value !== "") {
                    button.classList.add("active");
                    button.removeAttribute("disabled");

                    return;
                }
            });
        });
    </script>

</body>

</html>