<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dashboard</title>
<!-- bootstrap -->

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
<!-- External Libraries -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<!-- DataTables -->
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
<!-- DataTables SearchBuilder -->
<script
	src="https://cdn.datatables.net/searchbuilder/1.7.0/js/dataTables.searchBuilder.js"></script>
<script
	src="https://cdn.datatables.net/searchbuilder/1.7.0/js/searchBuilder.dataTables.js"></script>
<!-- DataTables DateTime -->
<script
	src="https://cdn.datatables.net/datetime/1.5.2/js/dataTables.dateTime.min.js"></script>

<!-- Bootstrap bundled JavaScript -->
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<script>
	$(document).ready(function() {
		$('#example').DataTable();
	});
	new DataTable('#example', {
		layout : {
			top1 : 'searchBuilder'
		}
	});
</script>
<!-- DataTables CSS -->
<link
	href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css"
	rel="stylesheet">
<!-- DataTables SearchBuilder CSS -->
<link
	href="https://cdn.datatables.net/searchbuilder/1.7.0/css/searchBuilder.dataTables.css"
	rel="stylesheet">
<!-- DataTables DateTime CSS -->
<link
	href="https://cdn.datatables.net/datetime/1.5.2/css/dataTables.dateTime.min.css"
	rel="stylesheet">

<!-- Custom Styles -->
<link rel="stylesheet" th:href="@{/css/common.css}">
</style>

</head>

<body>

	<div class="container text-center mt-4">
		<h1>Fund Management</h1>
	</div>
	<div class="container  mt-3">

		<div class="card-content card shadow">
			<div class="card-body">
				<div class="col-12">
					<div class="row">
						<div class="col-md-8 col-12">
							<p>
								<strong>Your Balance:</strong>
							</p>
							<h1>
								$ <span th:text="${totalAmount}">0.00</span>
							</h1>
							<p class="mb-0">Adding funds can help reduce the number of small transactions on your account</p>
						</div>
						<div
							class="col-md-4 col-12 d-flex align-items-center justify-content-center justify-content-md-end">
							<a class="btn-secondary btn mt-2 lnkbtn" id="addFundButton"
								data-toggle="modal" data-target="#raiseTicketModal">Deposit
								Now<i class="m-2 fa-solid fas ml-2 fa-angle-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<form method="post" th:action="@{/save-utr}">
		<div class="modal fade" id="raiseTicketModal" tabindex="-1"
			role="dialog" aria-labelledby="raiseTicketModalLabel"
			aria-hidden="true">
			<div
				class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
				role="document">
				<div class="modal-content">
					<div
						class="modal-header d-flex justify-content-between align-items-center">
						<h5 class="modal-title" id="raiseTicketModalLabel">Add Funds</h5>
						<a type="button" class="close" data-dismiss="modal"
							aria-label="Close"> <span aria-hidden="true"
							style="font-size: 30px !important; padding: 0 10px;">&times;</span>
						</a>
					</div>

					<div class="modal-body">



						<div class="main-content  ">
							<p>Add funds to your account with us to avoid lots of small
								transactions and to automatically take care of any new invoices
								that are generated.</p>
							<div class="form-group my-3">
								<label for="amount" class="control-label">Amount to Add:</label>
								<div class="input-group">
									<input type="number" name="ammount" id="amount"
										placeholder="Enter an amount" class="form-control" required />
								</div>
								<div class="buttons-group buttons-5 m-b-2x my-2"
									id="add-credits-buttons">
									<button class="btn btn-lg btn-light" type="button"
										data-price="50">₹50</button>
									<button class="btn btn-lg btn-light" type="button"
										data-price="100">₹100</button>
									<button class="btn btn-lg btn-light" type="button"
										data-price="250">₹250</button>
									<button class="btn btn-lg btn-light" type="button"
										data-price="500">₹500</button>
									<button class="btn btn-lg btn-light" type="button"
										data-price="1000">₹1000</button>
								</div>
							</div>
							<div class="form-group my-3">
								<label for="paymentmethod" class="control-label">Payment
									Method:</label> <select name="method" id="paymentMethod"
									class="form-control" required disabled>
									<option value="" selected disabled>Select Payment
										Method</option>
									<option value="Bank to Bank">Bank to Bank</option>
									<option value="Paytm">Paytm</option>
									<option value="PhonePe">PhonePe</option>

									<option value="Google Pay">Google pay</option>
									<option value="QR Code">QR Code</option>
									<!-- <option value="USDT">USDT (Cryptocurrency)</option> -->
								</select>
							</div>
							<div class="form-group my-3">
								<div id="bankDetails"
									style="display: none; border: 1px solid #ccc; padding: 10px; margin-top: 10px;">
									<h5>Banking Details</h5>
									<p>
										<strong>Bank Name:</strong> ABC Kumar
									</p>
									<p>
										<strong>Account Number:</strong> 74572305784209
									</p>
									<p>
										<strong>IFSC Code:</strong> ABC00006667
									</p>
								</div>

								<div id="paytmDetails"
									style="display: none; border: 1px solid #ccc; padding: 10px; margin-top: 10px;">
									<h5>Paytm Details</h5>
									<p>
										<strong>Bank Name:</strong> ABC Kumar
									</p>
									<p>
										<strong>Paytm UPI ID:</strong> rohitkumar@paytm
									</p>
									
									
										<a id="paytmLink" class="btn btn-success">Pay with Paytm</a>

								
								</div>

								<div id="phonepayDetails"
									style="display: none; border: 1px solid #ccc; padding: 10px; margin-top: 10px;">
									<h5>PhonePe Details</h5>
									<p>
										<strong>Bank Name:</strong> ABC Kumar
									</p>
									<p>
										<strong>PhonePe UPI ID:</strong> rohitkumar@ybl
									</p>						
								<a id="phonepeLink" class="btn btn-primary">Pay with PhonePe</a>

								</div>

								<div id="googlepayDetails"
									style="display: none; border: 1px solid #ccc; padding: 10px; margin-top: 10px;">
									<h5>Google Pay Details</h5>
									<p>
										<strong>Bank Name:</strong> ABC Kumar
									</p>
									<p>
										<strong>GooglePay UPI ID:</strong> rohitkumar@apl
									</p>

										<a id="googlepayLink" class="btn btn-success">Pay with Gpay</a>


								</div>

								<div id="qrCodeDetails"
									style="display: none; text-align: center;">
									<h5 class="mb-0">UPI QR Code</h5>
									<!--  <img th:if="${session.qrImage eq null}" src="https://media.istockphoto.com/id/828088276/vector/qr-code-illustration.jpg?s=612x612&w=0&k=20&c=FnA7agr57XpFi081ZT5sEmxhLytMBlK4vzdQxt8A70M="
                                            alt="QR Code"
                                            style="max-width: 100%; max-height: 200px; margin: auto; display: block;"> -->
									<div class="text-center" id="qrCodeContainer">


										

									</div>
									<p>
											Amount to be paid: <strong id="totalAmount"></strong>/-
										</p>


								</div>
								
								<!-- <div id="usdtDetails" style="display: none; text-align: center;">
                                        <input onclick="copyToClipboard()" type="text" id="usdtInput" readonly
                                            value="OX4234234543REFSGDFFD" class="form-control text-center">
                                    </div>

                                    <script>
                                        function copyToClipboard() {
                                            var usdtInput = document.getElementById("usdtInput");
                                            usdtInput.select();
                                            document.execCommand("copy");
                                            alert("Copied to clipboard: " + usdtInput.value);
                                        }
                                    </script> -->
							</div>


							<script>
								document
										.getElementById('amount')
										.addEventListener(
												'input',
												function() {
													var amountInput = this.value
															.trim();
													var paymentMethodSelect = document
															.getElementById('paymentMethod');

													if (amountInput !== "") {
														paymentMethodSelect
																.removeAttribute('disabled');

													} else {
														paymentMethodSelect
																.setAttribute(
																		'disabled',
																		'disabled');
													}
												});

								document
										.getElementById('paymentMethod')
										.addEventListener(
												'change',
												function() {
													var amountInput = document
															.getElementById('amount').value
															.trim();
													var amountField = document
															.getElementById('amount');
													var creditButton = document
															.getElementById('add-credits-buttons');
													creditButton.style.display = 'none';
													amountField.setAttribute(
															'readonly',
															'readonly');
													if (amountInput === "") {
														alert("Please fill out the amount to proceed.");
														this.selectedIndex = 0; // Reset the select element to the default option
													}
												});
							</script>


							<div class="form-actions">
								<button type="button" value="Submit Order"
									class="btn btn-lg btn-block btn-primary" data-btn-loader
									onclick="submitOrder()">Submit Order</button>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="secondModal" tabindex="-1" role="dialog"
			aria-labelledby="secondModalLabel" aria-hidden="true">
			<div
				class="modal-dialog modal-dialog-centered modal-dialog-scrollable "
				role="document">
				<div class="modal-content">
					<div
						class="modal-header d-flex justify-content-between align-items-center">
						<h5 class="modal-title" id="raiseTicketModalLabel">Submit
							Payment Details</h5>
						<a type="button" class="close" data-dismiss="modal"
							aria-label="Close"> <span aria-hidden="true"
							style="font-size: 30px !important; padding: 0 10px;">&times;</span>
						</a>
					</div>
					<div class="modal-body">
						<!-- <p>Provide Payment Details</p> -->
						<div class="form-group form-action">



							<div class="form-group my-2">
								<!-- Input field for the selected payment method -->
								<label for="exampleInputEmail1">Payment ID </label> <input
									type="text" id="paymentInput" name="refId" class="form-control"
									placeholder="Enter Txn Id/UTR/UPI Ref No." required>
							</div>

							<!-- Attachment button -->

							<!-- <div class="form-group my-2">
                                <label for="exampleInputEmail1">Payment ScreenShot(Optional) </label>
                                <input type="file" class="form-control" name="file" accept="image/*"
                                    onchange="checkFileSize(this)">
                                <span class="text-danger" id="fileSizeMsg"></span>
                            </div> -->
							<div class="form-group my-2">

								<label for="exampleInputEmail1">Email ID </label> <input
									type="email" id="emailId" name="email" class="form-control"
									placeholder="Enter Email to recieve Confirmation mail" required>
							</div>
							<!-- Submit button -->
							<button type="submit" class="btn btn-primary btn-lg btn-block">
								<span>Add Fund</span>
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>


	</form>


	<div class="container mt-3">
		<div class="card shadow p-3">
			<h2>Transaction History</h2>
			<hr>
			<table id="example" class="display nowrap" style="width: 100%">
				<thead>
					<tr>
						<th>ID</th>
						<th>Email</th>
						<th>Amount</th>
						<th>Status</th>
						<th>Reference ID</th>
						<th>Type</th>
						<th>Method</th>
						<th>Updated At</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="transaction : ${transactions}">
						<td th:text="${transaction.id}"></td>
						<td th:text="${transaction.email}"></td>
						<td th:text="${transaction.ammount}"></td>
						<td><span th:if="${transaction.status}"
							style="color: rgb(32, 184, 32);">Successful</span> <span
							th:unless="${transaction.status}" style="color: red;">Failed</span>
						</td>

						<td th:text="${transaction.refId}"></td>
						<td th:text="${transaction.type}"></td>
						<td th:text="${transaction.method}"></td>
						<td th:text="${transaction.updatedAt}"></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th>ID</th>
						<th>Email</th>
						<th>Amount</th>
						<th>Status</th>
						<th>Reference ID</th>
						<th>Type</th>
						<th>Method</th>
						<th>Updated At</th>
					</tr>
				</tfoot>
			</table>

		</div>
	</div>
	<script>
		function openSecondModal() {
			// Hide the first modal when it's hidden
			$('#raiseTicketModal').on('hidden.bs.modal', function(e) {
				// Open the second modal
				$('#secondModal').modal('show');

				// Unbind the event handler to prevent unwanted side effects
				$(this).off('hidden.bs.modal');
			});

			// Close the first modal
			$('#raiseTicketModal').modal('hide');
		}
	</script>

<script>
    document.getElementById('paymentMethod').addEventListener('change', function() {
    	var totalAmount = document.getElementById("amount").value;
        var bankDetailsDiv = document.getElementById('bankDetails');
        var paytmDiv = document.getElementById('paytmDetails');
        var phonepayDiv = document.getElementById('phonepayDetails');
        var googlepayDiv = document.getElementById('googlepayDetails');
        var qrCodeDiv = document.getElementById('qrCodeDetails');
        // var usdtDiv = document.getElementById('usdtDetails');

        bankDetailsDiv.style.display = 'none';
        paytmDiv.style.display = 'none';
        phonepayDiv.style.display = 'none';
        googlepayDiv.style.display = 'none';
        qrCodeDiv.style.display = 'none';
        // usdtDiv.style.display = 'none';

        switch (this.value) {
            case 'Bank to Bank':
                bankDetailsDiv.style.display = 'block';
                break;
            case 'Google Pay':
                googlepayDiv.style.display = 'block';
                var gpayLink = document.getElementById("googlepayLink");
                var gPayurl = "upi://pay?pa=rohitkumarah369@ibl&cu=INR&am=" + totalAmount;
                gpayLink.setAttribute("href", gPayurl);
                break;
            case 'Paytm':
                paytmDiv.style.display = 'block';
                var paytmLink = document.getElementById("paytmLink");
                var paytmUrl = "upi://pay?pa=rohitkumarah369@ibl&cu=INR&am=" + totalAmount;
                paytmLink.setAttribute("href", paytmUrl);
                break;
            case 'PhonePe':
                phonepayDiv.style.display = 'block';  
                var phonepeLink = document.getElementById("phonepeLink");
                var phonepeUrl = "phonepe://pay?pa=rohitkumarah369@ibl&cu=INR&am=" + totalAmount;
                phonepeLink.setAttribute("href", phonepeUrl);
                break;
            case 'QR Code':
                qrCodeDiv.style.display = 'block';
                generateQRCode();
                // Call generateQRCode function when QR Code option is selected
                break;
            // case 'USDT':
            //     usdtDiv.style.display = 'block';
            //     break;
            // Add cases for other payment methods as needed
        }
    });

    function generateQRCode() {
        var amount = document.getElementById("amount").value;
        document.getElementById("totalAmount").innerText = amount;
        var paytmLink = document.getElementById("paytmLink");
        var paytmUrl = "upi://pay?pa=rohitkumarah369@ibl&am=" + amount;
        paytmLink.setAttribute("href", paytmUrl);
        fetch('/generateQRCode', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ amount: amount })
        })
        .then(response => response.text())
        .then(data => {
            // Display the QR code image
            
            console.log(data);
            document.getElementById("qrCodeContainer").innerHTML = '<img src="data:image/png;base64,' + data + '" alt="QR Code">';
        })
        .catch(error => console.error('Error:', error));
    }
</script>




	<script>
		document.addEventListener('DOMContentLoaded', function() {
			var amountInput = document.getElementById('amount');
			var buttons = document
					.querySelectorAll('#add-credits-buttons button');
			var paymentMethodSelect = document.getElementById('paymentMethod');

			buttons.forEach(function(button) {
				button.addEventListener('click', function() {
					var price = parseInt(this.getAttribute('data-price'))
							.toFixed(0);
					amountInput.value = price;
					paymentMethodSelect.removeAttribute('disabled');
				});
			});
		});
	</script>

	<script>
		function submitOrder() {
			var amountInput = document.getElementById('amount');
			var paymentMethod = document.getElementById('paymentMethod');
			var amountValue = amountInput.value.trim();
			var methodInput = document.getElementById('paymentMethod');
			var methodValue = methodInput.value.trim();
			if (amountValue !== "" && methodValue !== "") {
				openSecondModal();
			} else {
				alert("Please Select to Proceed");
			}
		}
	</script>

	<!-- Bootstrap budled JavaScript -->
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
	<!-- Custom JavaScript -->
	<script type="text/javascript" src="javascript/common.js"></script>
</body>

</html>