<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- bootstrap -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <!-- External Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
    <!-- DataTables SearchBuilder -->
    <script src="https://cdn.datatables.net/searchbuilder/1.7.0/js/dataTables.searchBuilder.js"></script>
    <script src="https://cdn.datatables.net/searchbuilder/1.7.0/js/searchBuilder.dataTables.js"></script>
    <!-- DataTables DateTime -->
    <script src="https://cdn.datatables.net/datetime/1.5.2/js/dataTables.dateTime.min.js"></script>

    <!-- Bootstrap bundled JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
        new DataTable('#example', {
            layout: {
                top1: 'searchBuilder'
            }
        });
    </script>
    <!-- DataTables CSS -->
    <link href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" rel="stylesheet">
    <!-- DataTables SearchBuilder CSS -->
    <link href="https://cdn.datatables.net/searchbuilder/1.7.0/css/searchBuilder.dataTables.css" rel="stylesheet">
    <!-- DataTables DateTime CSS -->
    <link href="https://cdn.datatables.net/datetime/1.5.2/css/dataTables.dateTime.min.css" rel="stylesheet">

    <!-- Custom Styles -->
    <link rel="stylesheet" th:href="@{/css/common.css}">
    </style>

</head>

<body>

    <div class="container text-center mt-4">
        <h1>Fund Management</h1>
    </div>
    <div class="container  mt-3">

        <div class="card-content card shadow">
            <div class="card-body">
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-8 col-12">
                            <p><strong>Your Balance:</strong></p>
                            <h1>$ 0.00</h1>
                            <p class="mb-0">You can make a new deposit of minimum $10</p>
                        </div>
                        <div
                            class="col-md-4 col-12 d-flex align-items-center justify-content-center justify-content-md-end">
                            <a class="btn-secondary btn mt-2 lnkbtn" id="addFundButton" data-toggle="modal"
                                data-target="#raiseTicketModal">Deposit Now<i
                                    class="m-2 fa-solid fas ml-2 fa-angle-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="raiseTicketModal" tabindex="-1" role="dialog"
            aria-labelledby="raiseTicketModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex justify-content-between align-items-center">
                        <h5 class="modal-title" id="raiseTicketModalLabel">Add Funds</h5>
                        <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"
                                style="font-size: 30px !important; padding: 0 10px; ">&times;</span>
                        </a>
                    </div>

                    <div class="modal-body">


                        <form method="post" action="">



                            <div class="main-content  ">



                                <input type="hidden" name="token" value="e07251161b8375f22837177ee3ec7a4b7e2df7d4" />
                                <p>Add funds to your account with us to
                                    avoid lots of
                                    small transactions and to automatically take care of any
                                    new invoices
                                    that are generated.</p>
                                <div class="form-group my-3">
                                    <label for="paymentmethod" class="control-label">Payment
                                        Method:</label>
                                    <select name="paymentMethod" id="paymentMethod" class="form-control" required>
                                        <option value="" selected disabled>Select Payment Method</option>
                                        <option value="Bank to Bank">Bank to Bank</option>
                                        <option value="Paytm">Paytm</option>
                                        <option value="PhonePe">PhonePe</option>

                                        <option value="Google Pay">Google pay</option>
                                        <option value="QR Code">QR Code</option>
                                        <option value="USDT">USDT (Cryptocurrency)</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div id="bankDetails"
                                        style="display: none; border: 1px solid #ccc; padding: 10px; margin-top: 10px;">
                                        <h5>Banking Details</h5>
                                        <p><strong>Bank Name:</strong> ABC Kumar</p>
                                        <p><strong>Account Number:</strong> 74572305784209</p>
                                        <p><strong>IFSC Code:</strong> ABC00006667</p>
                                    </div>

                                    <div id="paytmDetails"
                                        style="display: none; border: 1px solid #ccc; padding: 10px; margin-top: 10px;">
                                        <h5>Paytm Details</h5>
                                        <p><strong>Bank Name:</strong> ABC Kumar</p>
                                        <p><strong>Paytm UPI ID:</strong> rohitkumar@paytm</p>
                                    </div>

                                    <div id="phonepayDetails"
                                        style="display: none; border: 1px solid #ccc; padding: 10px; margin-top: 10px;">
                                        <h5>PhonePe Details</h5>
                                        <p><strong>Bank Name:</strong> ABC Kumar</p>
                                        <p><strong>PhonePe UPI ID:</strong> rohitkumar@ybl</p>
                                    </div>

                                    <div id="googlepayDetails"
                                        style="display: none; border: 1px solid #ccc; padding: 10px; margin-top: 10px;">
                                        <h5>Google Pay Details</h5>
                                        <p><strong>Bank Name:</strong> ABC Kumar</p>
                                        <p><strong>GooglePay UPI ID:</strong> rohitkumar@apl</p>
                                    </div>

                                    <div id="qrCodeDetails" style="display: none; text-align: center; ">
                                        <h5 class="mb-0">UPI QR Code</h5>
                                        <img src="https://media.istockphoto.com/id/828088276/vector/qr-code-illustration.jpg?s=612x612&w=0&k=20&c=FnA7agr57XpFi081ZT5sEmxhLytMBlK4vzdQxt8A70M="
                                            alt="QR Code"
                                            style="max-width: 100%; max-height: 200px; margin: auto; display: block;">
                                    </div>
                                    <div id="usdtDetails" style="display: none; text-align: center;">
                                        <input onclick="copyToClipboard()" type="text" id="usdtInput" readonly
                                            value="OX4234234543REFSGDFFD">
                                    </div>

                                    <script>
                                        function copyToClipboard() {
                                            var usdtInput = document.getElementById("usdtInput");
                                            usdtInput.select();
                                            document.execCommand("copy");
                                            alert("Copied to clipboard: " + usdtInput.value);
                                        }
                                    </script>
                                </div>

                                <div class="form-group my-3">
                                    <label for="amount" class="control-label">Amount to Add:</label>
                                    <div class="input-group">
                                        <input type="number" name="amount" id="amount" placeholder="Enter an amount"
                                            class="form-control" required />
                                    </div>
                                    <div class="buttons-group buttons-5 m-b-2x my-2" id="add-credits-buttons">
                                        <button class="btn btn-lg btn-light" type="button" data-price="50">₹50</button>
                                        <button class="btn btn-lg btn-light" type="button"
                                            data-price="100">₹100</button>
                                        <button class="btn btn-lg btn-light" type="button"
                                            data-price="250">₹250</button>
                                        <button class="btn btn-lg btn-light" type="button"
                                            data-price="500">₹500</button>
                                        <button class="btn btn-lg btn-light" type="button"
                                            data-price="1000">₹1000</button>
                                    </div>
                                </div>

                                <script>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        var amountInput = document.getElementById('amount');
                                        var buttons = document.querySelectorAll('#add-credits-buttons button');

                                        buttons.forEach(function (button) {
                                            button.addEventListener('click', function () {
                                                var price = parseFloat(this.getAttribute('data-price')).toFixed(2);
                                                amountInput.value = price;
                                            });
                                        });
                                    });
                                </script>

                                <div class="form-actions">
                                    <button type="button" value="Submit Order" class="btn btn-lg btn-block btn-primary"
                                        data-btn-loader onclick="submitOrder()">Submit Order</button>
                                </div>
                                <script>
                                    function submitOrder() {
                                        var amountInput = document.getElementById('amount');
                                        var paymentMethod = document.getElementById('paymentMethod');




                                        var amountValue = amountInput.value.trim();
                                        var methodInput = document.getElementById('paymentMethod');
                                        var methodValue = methodInput.value.trim();
                                        if (amountValue !== "" && methodValue !== "") {
                                            openSecondModal();
                                        } else {
                                            alert("Please Select to Proceed");
                                        }
                                    }
                                </script>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="secondModal" tabindex="-1" role="dialog" aria-labelledby="secondModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable " role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex justify-content-between align-items-center">
                        <h5 class="modal-title" id="raiseTicketModalLabel">Submit Payment Details</h5>
                        <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"
                                style="font-size: 30px !important; padding: 0 10px; ">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <!-- <p>Provide Payment Details</p> -->
                        <div class="form-group form-action">



                            <div class="form-group my-2">
                                <!-- Input field for the selected payment method -->
                                <label for="exampleInputEmail1">Payment ID </label>
                                <input type="text" id="paymentInput" name="payment_id" class="form-control"
                                    placeholder="Enter Txn Id/UTR/UPI Ref No." required>
                            </div>

                            <!-- Attachment button -->

                            <!-- <div class="form-group my-2">
                                <label for="exampleInputEmail1">Payment ScreenShot(Optional) </label>
                                <input type="file" class="form-control" name="file" accept="image/*"
                                    onchange="checkFileSize(this)">
                                <span class="text-danger" id="fileSizeMsg"></span>
                            </div> -->
                            <div class="form-group my-2">

                                <label for="exampleInputEmail1">Email ID(Optional) </label>
                                <input type="email" id="emailId" name="email" class="form-control"
                                    placeholder="Enter Email to recieve Confirmation mail">
                            </div>
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-lg btn-block">
                                <span>Add Fund</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="container mt-3">
        <div class="card shadow p-3">
            <h2>Transaction History</h2>
            <hr>
            <table id="example" class="display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start Date</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td><span>Edinburgh</span></td>
                        <td><span class="old">61</span></td>
                        <td>2011-04-25</td>
                        <td><span>$320,800.00</span></td>
                    </tr>
                    <tr>
                        <td>Garrett Winters</td>
                        <td>Accountant</td>
                        <td><span>Tokyo</span></td>
                        <td><span class="old">63</span></td>
                        <td>2011-07-25</td>
                        <td><span>$170,750.00</span></td>
                    </tr>
                    <tr>
                        <td>Ashton Cox</td>
                        <td>Junior Technical Author</td>
                        <td><span>San Francisco</span></td>
                        <td><span class="old">66</span></td>
                        <td>2009-01-12</td>
                        <td><span>$86,000.00</span></td>
                    </tr>
                    <tr>
                        <td>Cedric Kelly</td>
                        <td>Senior Javascript Developer</td>
                        <td><span>Edinburgh</span></td>
                        <td><span class="young">22</span></td>
                        <td>2012-03-29</td>
                        <td><span>$433,060.00</span></td>
                    </tr>
                    <tr>
                        <td>Airi Satou</td>
                        <td>Accountant</td>
                        <td><span>Tokyo</span></td>
                        <td><span class="young">33</span></td>
                        <td>2008-11-28</td>
                        <td><span>$162,700.00</span></td>
                    </tr>
                    <tr>
                        <td>Brielle Williamson</td>
                        <td>Integration Specialist</td>
                        <td><span>New York</span></td>
                        <td><span class="old">61</span></td>
                        <td>2012-12-02</td>
                        <td><span>$372,000.00</span></td>
                    </tr>
                    <tr>
                        <td>Herrod Chandler</td>
                        <td>Sales Assistant</td>
                        <td><span>San Francisco</span></td>
                        <td><span class="old">59</span></td>
                        <td>2012-08-06</td>
                        <td><span>$137,500.00</span></td>
                    </tr>
                    <tr>
                        <td>Rhona Davidson</td>
                        <td>Integration Specialist</td>
                        <td><span>Tokyo</span></td>
                        <td><span class="old">55</span></td>
                        <td>2010-10-14</td>
                        <td><span>$327,900.00</span></td>
                    </tr>
                    <tr>
                        <td>Colleen Hurst</td>
                        <td>Javascript Developer</td>
                        <td><span>San Francisco</span></td>
                        <td><span class="middleaged">39</span></td>
                        <td>2009-09-15</td>
                        <td><span>$205,500.00</span></td>
                    </tr>
                    <tr>
                        <td>Sonya Frost</td>
                        <td>Software Engineer</td>
                        <td><span>Edinburgh</span></td>
                        <td><span class="young">23</span></td>
                        <td>2008-12-13</td>
                        <td><span>$103,600.00</span></td>
                    </tr>
                    <tr>
                        <td>Jena Gaines</td>
                        <td>Office Manager</td>
                        <td><span>London</span></td>
                        <td><span class="young">30</span></td>
                        <td>2008-12-19</td>
                        <td><span>$90,560.00</span></td>
                    </tr>
                    <tr>
                        <td>Quinn Flynn</td>
                        <td>Support Lead</td>
                        <td><span>Edinburgh</span></td>
                        <td><span class="young">22</span></td>
                        <td>2013-03-03</td>
                        <td><span>$342,000.00</span></td>
                    </tr>
                    <tr>
                        <td>Charde Marshall</td>
                        <td>Regional Director</td>
                        <td><span>San Francisco</span></td>
                        <td><span class="middleaged">36</span></td>
                        <td>2008-10-16</td>
                        <td><span>$470,600.00</span></td>
                    </tr>
                    <tr>
                        <td>Haley Kennedy</td>
                        <td>Senior Marketing Designer</td>
                        <td><span>London</span></td>
                        <td><span class="middleaged">43</span></td>
                        <td>2012-12-18</td>
                        <td><span>$313,500.00</span></td>
                    </tr>
                    <tr>
                        <td>Tatyana Fitzpatrick</td>
                        <td>Regional Director</td>
                        <td><span>London</span></td>
                        <td><span class="young">19</span></td>
                        <td>2010-03-17</td>
                        <td><span>$385,750.00</span></td>
                    </tr>
                    <tr>
                        <td>Michael Silva</td>
                        <td>Marketing Designer</td>
                        <td><span>London</span></td>
                        <td><span class="old">66</span></td>
                        <td>2012-11-27</td>
                        <td><span>$198,500.00</span></td>
                    </tr>
                    <tr>
                        <td>Paul Byrd</td>
                        <td>Chief Financial Officer (CFO)</td>
                        <td><span>New York</span></td>
                        <td><span class="old">64</span></td>
                        <td>2010-06-09</td>
                        <td><span>$725,000.00</span></td>
                    </tr>
                    <tr>
                        <td>Gloria Little</td>
                        <td>Systems Administrator</td>
                        <td><span>New York</span></td>
                        <td><span class="old">59</span></td>
                        <td>2009-04-10</td>
                        <td><span>$237,500.00</span></td>
                    </tr>
                    <tr>
                        <td>Bradley Greer</td>
                        <td>Software Engineer</td>
                        <td><span>London</span></td>
                        <td><span class="middleaged">41</span></td>
                        <td>2012-10-13</td>
                        <td><span>$132,000.00</span></td>
                    </tr>
                    <tr>
                        <td>Dai Rios</td>
                        <td>Personnel Lead</td>
                        <td><span>Edinburgh</span></td>
                        <td><span class="middleaged">35</span></td>
                        <td>2012-09-26</td>
                        <td><span>$217,500.00</span></td>
                    </tr>
                    <tr>
                        <td>Jenette Caldwell</td>
                        <td>Development Lead</td>
                        <td><span>New York</span></td>
                        <td><span class="young">30</span></td>
                        <td>2011-09-03</td>
                        <td><span>$345,000.00</span></td>
                    </tr>
                    <tr>
                        <td>Yuri Berry</td>
                        <td>Chief Marketing Officer (CMO)</td>
                        <td><span>New York</span></td>
                        <td><span class="middleaged">40</span></td>
                        <td>2009-06-25</td>
                        <td><span>$675,000.00</span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start Date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <script>
        function openSecondModal() {
            // Hide the first modal when it's hidden
            $('#raiseTicketModal').on('hidden.bs.modal', function (e) {
                // Open the second modal
                $('#secondModal').modal('show');

                // Unbind the event handler to prevent unwanted side effects
                $(this).off('hidden.bs.modal');
            });

            // Close the first modal
            $('#raiseTicketModal').modal('hide');
        }

    </script>
    <script>
        document.getElementById('paymentMethod').addEventListener('change', function () {
            var bankDetailsDiv = document.getElementById('bankDetails');
            var paytmDiv = document.getElementById('paytmDetails');
            var phonepayDiv = document.getElementById('phonepayDetails');
            var googlepayDiv = document.getElementById('googlepayDetails');
            var qrCodeDiv = document.getElementById('qrCodeDetails');
            var usdtDiv = document.getElementById('usdtDetails');

            bankDetailsDiv.style.display = 'none';
            paytmDiv.style.display = 'none';
            phonepayDiv.style.display = 'none';
            googlepayDiv.style.display = 'none';
            qrCodeDiv.style.display = 'none';
            usdtDiv.style.display = 'none';

            switch (this.value) {
                case 'Bank to Bank':
                    bankDetailsDiv.style.display = 'block';
                    break;
                case 'Google Pay':
                    googlepayDiv.style.display = 'block';
                    break;
                case 'Paytm':
                    paytmDiv.style.display = 'block';
                    break;
                case 'PhonePe':
                    phonepayDiv.style.display = 'block';
                    break;
                case 'QR Code':
                    qrCodeDiv.style.display = 'block';
                    break;
                case 'USDT':
                    usdtDiv.style.display = 'block';
                    break;
                // Add cases for other payment methods as needed
            }
        });

    </script>

    <!-- Bootstrap budled JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <!-- Custom JavaScript -->
    <script type="text/javascript" src="javascript/common.js"></script>
</body>

</html>